{% extends 'netbox_gcore_plugin/no_edit_base.html' %}

{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">DNS ZONES</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
            <tr>
                <th scope="row">Account</th>
                <td>{{ object.account|linkify }}</td>
            </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.zone_name }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
  </div>
</div>
{% endblock content %}
